.location_ui_row {
    margin-left:0;
    margin-right:0;
    padding-left:0;
    padding-right:0;
}

.location_ui_button {
    margin-bottom: 15px;
}
.action_buttons {
    display:inline-block;
    margin-left:3px;
    margin-right:3px;
}